.login-row {
  .col {
    padding: 0;
  }
  .mobile-line {
    display: none;
  }
}

.account-content {
  width: 416px;
  position: relative;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -55%);
  .subheader {
    font-size: 16px;
    font-weight: 700;
    color: #BF9D7D;
    line-height: 24px;
    letter-spacing: 2%;
  }
  .header {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 5%;
    margin-bottom: 40px;
  }
  .login-form, .signup-form {
    label {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2%;
      color: #fff;
    }
    .form-control, .submit-btn {
      padding: 16px;
    }
    .form-check {
      .form-check-input {
        width: 24px;
        height: 24px;
        &:checked {
          background-color: #BF9D7D;
          border: 1px solid #BF9D7D;
          box-shadow: 0 0 0 .2rem rgba(191, 157, 7, 0.25) !important;
        }
        &:focus, &.focus {
          border: 1px solid #BF9D7D;
          box-shadow: 0 0 0 .2rem rgba(191, 157, 7, 0.25) !important;
        }
      }
      label {
        padding-left: 8px;
      }
    }
    a {
      color: #BF9D7D;
      text-decoration: underline;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2%;
      cursor: pointer;
      &:hover {
        color: #BF9D7D;
      }
    }
  }
  .submit-btn {
    color: #909090;
    background-color: #fff;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2%;
    margin: 40px 0;
    &:active, &.active {
      background-color: #BF9D7D;
    }
  }
  span {
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    margin-right: 8px;
  }
}

@media(max-width:990px) {
  .register-img {
    display: none;
  }

  .mobile-line {
    display: block !important;
  }

  .desktop-line {
    display: none;
  }

  .account-content {
    width: 416px;
    padding-bottom: 20px;
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -30%);
    .subheader {
      font-size: 14px;
      line-height: 21px;
    }
    .header {
      font-size: 32px;
      line-height: 38.4px;
    }
    .login-form, .signup-form {
      label, a, span {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}